ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: 3em;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a > img {
  height: 1.5em;
  width: 6em;
}

ul.topnav li a > img.a1 {
  width: 2em;
}

ul.topnav li a > input {
  height: 1.5em;
  width: 30em;
  margin-right: 0em;
  margin-left: 3em;
}

@media screen and (max-width: 600px) {
  ul.topnav li {
    float: none;
    background-color: whitesmoke;
  }
  ul.topnav li a > img {
    max-height: 100%;
    max-width: 100%;
  }
  .a4 {
    width: 100%;
    position: relative;
  }
}

.a4 {
  width: 7%;
  color: black;
  float: left;
  position: fixed;
  height: 16em;
  overflow: hidden;
}

.a4 a {
  margin-bottom: 0em;
  display: block;
  text-align: center;
  color: black;
  height: 4em;
}

.a4 a > p {
  font-size: 8px;
}

.a4 a:hover {
  background-color: whitesmoke;
  text-decoration: none;
}

.a5 {
  width: 93%;
  float: right;
}

.a5 img {
  margin-top: 0em;
  max-width: 100%;
  max-height: 100%;
}

.row {
  background-color: whitesmoke;
  width: 94.3%;
  float: right;
  height: 6em;
}

.a7 img {
  margin-top: 1em;
  width: 5em;
  height: 5em;
  margin-left: 6em;
}
.a8 {
  width: 20em;
}
.a8 p {
  margin-top: 2em;
  font-size: 14px;
}

.a8 p > strong {
  font-size: 24px;
}
.a8 i {
  font-size: 15px;
}

.a9 button {
  color: white;
  background-color: red;
  margin-left: 20em;
  margin-top: 3em;
  text-decoration: none;
}

div.a10 {
  display: flex;
  flex-wrap: nowrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  width: 93%;
  float: right;
  background-color: whitesmoke;
  color: black;
}

li.a11 a {
  margin-left: 6em;
}
li a {
  color: grey;
}
li.a12 a {
  margin-left: 2em;
}
li a:hover {
  color: black;
  font-weight: bold;
}
a.a13 {
  background-color: black;
  width: 2em;
}

.a14 {
  width: 93%;
  float: right;
}

.a15 a > i {
  margin-left: 28em;
}

.a16 a {
  margin-left: 1em;
  color: black;
}

div.a17 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: whitesmoke;
  width: 93%;
  float: right;
  justify-content: space-around;
}

.a17 div > img {
  width: 12em;
  height: 12em;
}
